#Gradlefiles
.gradle/
build/

#Localconfigurationfile(sdkpath,etc)
local.properties

#LogFiles
*.log

#IntelliJ
out
*.iml
.idea/
.idea/vcs/xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches

#GoogleServices(e.g.APIsorFirebase)
google-services.json
